* {
    margin: 0;
    padding: 0;
}
.header{
    background-color: #f5f5f5;
}
body{background-color: white;}

.header .phone {
    float: right;
}
.header .logo{
    left: 0;
    position: absolute;
    z-index: 2;
}
.phone_logo{
    float: right;
    padding-right: 10px;
    margin-top: 20px;
}
.all_phone{
    margin-right: 30px;
    height: 110px;
}
.slid_img{
    width: 100%;
}
.all_text_slide{
    z-index: 2;
    position: relative;
    float: right;
    margin-top: 220px;
}
.bg_slide{
    position: absolute;
}
.text_slide{
    font-size: 45px;
    text-transform: uppercase;
    font-family: myriad pro;
}
.text_slide2{
    font-size: 28px;
    text-transform: uppercase;
    font-family: myriad pro;
}
.number{
    margin-top: 23px;
    line-height: 0.1;
}
.wrapper_logo{
    border: 6px solid white;
    padding: 10px;
    position: absolute;
    z-index: 999;
    left: 50%;
    margin-left: -215px;
    top: -5px;
    background-color: #faf9f9;
    height: 210px;
    width: 420px;
}
.block2_text{
    font-size: 26px;
    line-height: 70px;
}
.block_otd {
    line-height: 20px;
}
.text {
    border-right: 2px solid black;
    width: 200px;
}
.our_prior {
    border-right: 2px solid black;
    width: 200px;
    margin-top: 30px;
}
.our_all {
    margin: -265px 500px 0px 0px;
    float: right;
    font-size: 18px;
}
.our_direction{
    margin-top: 0px;
    font-size: 18px;
}
.block2{
    margin-left: 130px;
    height: 350px;
    margin-top: 140px;
}
.block2_border{
    border-bottom: 3px solid;
    margin-top: 60px;
}
.why_with_us{
    text-align: center;
    display: inherit;
    font-size: 50px;
    height: 20px;
    text-transform: uppercase;
    font-family: PTSans Regular;
}
.why_we_bold{
    font-size: 65px;
    font-weight: bold;
    margin-top: 20px;
}
.block_background{
    background-image: url("../images/bg_strelka.jpg");
    height: 450px;
    background-size: contain;
}
.why_we{
    text-align: center;
    display: inherit;
    font-size: 15px;
}
.utp {
    margin-top: -240px;
}
.our3{
    text-align: center;
    display: inherit;
    font-size: 40px;
    height: 20px;
}
.our_missons{
    margin-top: 400px;
}
.mission2 {
    margin-top: 20px;
    display: block;
}
.wrapper_mis{
    font-size: 24px;
}
.our_mission{
    margin-top: 40px;
    display: block;
}
.block2_border2{
    border-bottom: 3px solid;
}
.our_missoins {
    margin-top: 22%;
    display: inline-block;
}
.blue_8{
    width: 150px !important;
    height: 150px;
    border: 1px solid;
    background-color: #9bc0e4;
    transform: rotate(45deg);
}

.blue_10{
    width: 150px !important;
    height: 150px;
    border: 1px solid;
    background-color: #c3dbf2;
    transform: rotate(45deg);
}
.blue_8_tale{
    transform: rotate(-45deg);
}
.figure1{
    transform: rotate(45deg);
    display: inline-block;
    color: #fbb040;
    font-family: PTSans Bold;
    font-size: 20px;
}
.figure12{
    color: #000;
    text-align: center;
    line-height: 20px;
}



.figure{
    transform: rotate(-45deg);
    display: inline-block;
	color: #fbb040;
	font-family: PTSans Bold;
font-size: 20px;
	}
.our_decisions{
    margin-top: 150px;
    height: 105px;
}
.all_block3{
    background-color: #ccc;
}
.figure2{
    color: #000;
    text-align: center;
    line-height: 20px;
}
.block5{
    margin-top: 50px;
}
.text_block5{
    text-transform: uppercase;
    padding-bottom: 10px;
}
.block5_img{
    padding-bottom: 20px;
}
.text_opisanie{
    padding-top: 20px;
}

.slider_img{
    margin-top: 40px;
    height: 275px;
    width: 100%;
}

.hr{
    border-bottom: 1px solid;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapp{
    margin: 0 auto;
    padding: 0 10px;
}
.wrapp img{
    display: block;
    float: left;
    width: 100%;
}

.item .wrapp .onhover{
    opacity: 0;
    overflow:visible;
    border:0px solid rgba(0,0,0,0.7);
    box-sizing:border-box;
    transition: all 0.4s ease-in-out;
    height: 275px;
    width: 410px;
    position: absolute;
    float: left;
}


.wrapp:hover .onhover{
    opacity: 1;
    border:138px solid rgba(0,0,0,0.7);
    position: absolute;
    width: 23%;

}

.zoom{
    width: 86px;
    height: 86px;
    background-image: url("../images/zoom.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    border: 1px solid #e0e0e0;;
    background-position: 50% 50%;
    position: relative;
    top: -40px;
}
.map iframe {
    width: 100%;
    height: 685px;
}
.map {
    margin-top: 50px;
    position: relative;
}

.wrapcont{
    border: 5px solid #fff;
    width: 490px;
    height: 490px;
    position: absolute;
    transform: rotate(45deg);
    left: 30%;
    top: 97px;
    background: rgba(246, 246, 244, 0.75);
}

.textcont{
    transform: rotate(-45deg);
    line-height: 40px;
}

.cont_main{
    font-size: 34px;
    text-transform: uppercase;
    margin-left: 12%;
}
.phone-cont{
    float: right;
    margin-right: 255px;
    margin-top: 20px;
}
.phone-cont img{
    float: left;
}
.phone1 {
    line-height: 1;
    float: right;
}
.mail{
    margin-top: 65px;
    padding-left: 40px;
}
.cont{    padding-left: 15px;}
.maya4 img{    margin-left: -55px;}
.cont_all{font-size: 16px;}
.vopros{  text-align: center;  }
.ostalsa{
    text-transform: uppercase;
    font-size: 30px;
    color: #fcc26b;
}

.manager a{
    color: #000000;
    font-size: 16px;
    text-decoration: underline;
}
.vopros_manag{
    margin-top: 40px;
}
.cont_main {
    padding-left: 0;
}
.item{
    width: 24%;
    display: inline-block;
}
/* Новый идиотский блок */
.our_decisions, .our_decisions2, .our_decisions3{
    width: 100%;
    display: inline-flex;
}
.blue8, .blue_10, .blue_8{
    margin-right: 60px;
}
.wrap_dec{
    display: inline-flex;
    margin: 0 auto;
}

.our_decisions2{
    height: 105px;
}
.our_decisions3{
    height: 970px;
    background-image: url("../images/vector_dom.jpg");
    background-size: contain;
}

.zoloto{
    background-image: url("../images/our_decisions_1.png");
    background-repeat: no-repeat;
    background-position: 22% -14%;
}
.snova_zol{
    background-image: url("../images/our_decisions_2.png");
    background-repeat: no-repeat;
    background-position: 80% -14%;
}
